#header {
    display: flex;
    justify-content: space-between;
    color: #6A392E;
    border-bottom: .3em solid #FB722D;
}

#header div {
    width: 50%;
    background-color: #FFFAFA;
}

#header .directory-list {
    display: flex;
    list-style: none;

    justify-content: right;
}

#header .directory-list li {
    margin: 3%;

}

#header .directory-list li a {
    text-decoration: none;
    color: #6A392E;
}

#header .directory-list li a:hover {
    text-decoration: underline;
}
