body {
  font-family: 'Comic Sans MS', 'Comic Sans';
  margin: 0;
  background: #F8C728;
  background-image: linear-gradient(#FB722D .3em, transparent .3em), linear-gradient(90deg,  #FB722D .3em, transparent .3em);
  background-size: 5em 5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
